{% extends 'base.html.twig' %}

{% block title %}Hello {{app.user.username}}!
{% endblock %}
{% form_theme profilePictureForm 'bootstrap_5_layout.html.twig' %}
{% form_theme profileSettingsForm 'bootstrap_5_layout.html.twig' %}


{% block body %}
	<div class="container">
		<div class="row">


			<div class="col-12 profile-settings">
				<div class="card-title text-muted">Your Settings</div>
				{{ form_start(profileSettingsForm) }}

				{{ form_row(profileSettingsForm.about) }}
				{{ form_row(profileSettingsForm.signature) }}
				{{ form_row(profileSettingsForm.submit) }}
				{{ form_end(profileSettingsForm) }}
				</div>
			</div>
			<div class="col-12 profile-picture-form">

					<div class="card-title text-muted"><h6>Edit your profile image</h6></div>
				{{ form_start(profilePictureForm) }}
					{{form_row(profilePictureForm.imageFile)}}
					{{form_row(profilePictureForm.update)}}
				{{ form_end(profilePictureForm) }}
					</div>

			</div>
		</div>
	</div>

{% endblock %}
