{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}
{% block body %}
	<div class="container min-vh-100">


	<div id="login-wrapper" class="card mt-3">
		<div class="login-img-container card-img text-center"><img id="login-img" class="rounded-circle" src="https://picsum.photos/200"/></div>
		<div class="card-body">

			<form method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.username }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}

				<div class="mb-2">
					<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>

				</div>
				<div class="mb-2">
					<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Mot de passe" required>

				</div>
				<div class="checkbox mb-3">
					<label>
						<input type="checkbox" name="_remember_me">
						Remember me
					</label>
					<a href="{{ path('app_forgot_password_request') }}" class="float-right">Forgot your password?</a>

				</div>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


				<button class="btn btn-lg btn-primary w-100" type="submit">
					Login
				</button>
			</form>
			<div class="text-center">
				<p>Not a member?
					<a href="{{path('app_register')}}">Register</a>
				</p>


			</div>

		</div>
	</div>
	</div>
	{% embed 'footer.html.twig' %}
	{% endembed %}
{% endblock %}
