{% extends 'base.html.twig' %}

{% block title %}Forum index{% endblock %}

{% block body %}
    <h1>Forum index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forum in forums %}
            <tr>
                <td>{{ forum.id }}</td>
                <td>{{ forum.title }}</td>
                <td>
                    <a href="{{ path('app_forum_crud_show', {'id': forum.id}) }}">show</a>
                    <a href="{{ path('app_forum_crud_edit', {'id': forum.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_forum_crud_new') }}">Create new</a>
{% endblock %}
