{% extends 'base.html.twig' %}

{% block title %}Hello TopicController!
{% endblock %}

{% block body %}
	<div class="container min-vh-100">
		{{ pagerfanta(comments) }}
		{% if comments.currentpage == 1 %}
			<article class="post">
				<div class="post-creator">
					<span class="creator-name">{{topic.author.username}}</span>

						<img class="creator-picture rounded-circle" width="75px" height="75px" src="{{ relative_path(profilepictures[topic.author.id]) }}"/>

					<span class="creator-role">Role Name</span>
				</div>
				<div class="post-wrapper">
					<div class="post-content ">
						{{topic.body | raw}}
					</div>
					<div class="author-signature">
						{{topic.author.signature | raw}}
					</div>
				</div>
			</article>
		{% endif %}
		{% for comment in comments %}

			<article class="post">
				<div class="post-creator">
					<span class="creator-name">{{comment.author.username}}</span>

						<img class="creator-picture rounded-circle "  width="75px" height="75px"  src="{{ profilepictures[comment.author.id] }}"/>


					<span class="creator-role">Role Name</span>
				</div>
				<div class="post-wrapper">
					<div class="post-content ">
						{{comment.body | raw}}
					</div>
					<div class="author-signature">
						{{comment.author.signature | raw}}
					</div>

				</div>

			</article>
		{% endfor %}
		{% if app.user is not null %}
			<a href="{{path('app_post_create', {id: topic.id})}}">
				<button>Create a comment</button>
			</a>
		{% endif %}
	</div>
	{% embed 'footer.html.twig' %}{% endembed %}
{% endblock %}
