{% extends 'base.html.twig' %}

{% block title %}Hello TopicController!
{% endblock %}

{% block body %}
	<div class="container">
	{{dump(profilepictures)}}
		{{ pagerfanta(comments) }}
		{% if comments.currentpage == 1 %}
			<article class="post">
				<div class="post-creator">
					<span class="creator-name">{{topic.creator.username}}</span>
						<img class="creator-picture rounded-circle" src="{{ vich_uploader_asset(profilepictures[topic.creator.id], 'imageFile') }}"/>					<span class="creator-role">Role Name</span>
				</div>
				<div class="post-wrapper">
					<div class="post-content ">
						{{topic.body | raw}}
					</div>
					<div class="author-signature">
						Signature
					</div>
				</div>
			</article>
			{% endif %} 
			{% for comment in comments %}

				<article class="post">
					<div class="post-creator">
						<span class="creator-name">{{comment.author.username}}</span>
						<img class="creator-picture rounded-circle" src="{{ vich_uploader_asset(profilepictures[comment.author.id], 'imageFile') }}"/>
						<span class="creator-role">Role Name</span>
					</div>
					<div class="post-wrapper">
						<div class="post-content ">
							{{comment.body | raw}}
						</div>
						<div class="author-signature">
							Signature
						</div>

					</div>

				</article>
			{% endfor %}
			{% if app.user is not null %}
			<a href="{{path('app_post_create', {id: topic.id})}}">
				<button>Create a comment</button>
			</a>
			{% endif %}
		</div>
		{% embed 'footer.html.twig' %}{% endembed %}
	{% endblock %}
